## Python environment

13_12-0-assets_tags.csv contains some inconsistencies, which were not critical, in general (some of the rows were broken, and tags were not separated clearly from the post message).

To calculate over the dataset we used Python environment containing Numpy and Pandas.

In [1]:
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

## Operations with input files:

13_12-0-assets_tags.csv, error_bad_lines option in use, because files contains a number of bad lines. That lines were skipped.

In [2]:
df2 = pd.read_csv("13_12-0-assets_tags.csv", error_bad_lines = False, warn_bad_lines=False)

/home/administrator/Desktop/Calculations/Social_behavior_prediction_new/social_behaviour_env/lib64/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The file 3_12-0-assets_tags.csv was not readable after this direct attempt to upload. Tags are not separated after upload. Parsing this file before upload is an essential step.

In [3]:
!python assets_tags_droplines.py

In [4]:
df2 = pd.read_csv("13_12-0-assets_tags_redacted_droplines.csv", error_bad_lines = False, warn_bad_lines=False)

In [5]:
df2.shape

(2460661, 3)

In [6]:
df2.head(5)

   asset_id                                            caption tags
0  18435191  The classiest way to stay warm is here! Snag y...  NaN
1  18435207  me checking the grade portal after very well k...  NaN
2  18435356  The dessert table by B Sweet Designs featured ...  NaN
3  18435482  Get fuller lips instantly with these tricks ðŸ’‹ ...  NaN
4  18435764  #ChipGaines and #JoannaGaines have a real-life...  NaN

Now the shape is ok. Tags are still required few extra steps to process.

In [7]:
df2.head(3)

   asset_id                                            caption tags
0  18435191  The classiest way to stay warm is here! Snag y...  NaN
1  18435207  me checking the grade portal after very well k...  NaN
2  18435356  The dessert table by B Sweet Designs featured ...  NaN

## Tags extraction

In [9]:
df2.dtypes

asset_id     int64
caption     object
tags        object
dtype: object