## Setting the environment

To calculate over the dataset we used Python environment containing Numpy and Pandas.

In [1]:
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

## Input

In [2]:
df1 = pd.read_csv("13_12-0.csv")

In [3]:
df1.head(5)

,asset_id,followers,engagement,day_of_week,hour_of_day,current_views,current_minute,current_comments,current_reactions,platform,asset_type,has_sponsor,category_number,next_minute,next_reactions,next_comments,next_views
0,19779063,3617754,0.2,4,18,17898,18887,29,2988,instagram,Episode,False,14,23090.0,2992.0,29.0,18086.0
1,19591453,103910,2.0,1,18,0,23208,85,4171,instagram,Image,False,41,28854.0,4171.0,85.0,0.0
2,18959298,315266,7.3,0,18,0,34727,127,29185,instagram,Image,False,7,41825.0,29192.0,127.0,0.0
3,18907487,710855,1.0,0,18,0,34728,17,3457,instagram,Image,False,14,41825.0,3462.0,17.0,0.0
4,19833665,617056,0.1,4,18,1679,18887,3,52,instagram,Episode,False,7,23090.0,52.0,3.0,1679.0

In [4]:
df1.shape

(11670920, 17)